# these files have to be added to source control specifically
*.png
*.csv
*.xls
*.xlsx
*.html
*.zip
*.docx
*.pptx
*.pdf
*.txt

# python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# shapefiles
*.cpg
*.dbf
*.prj
*.qpj
*.shp
*.shx
*.sbn
*.sbx
*.shp.xml
*.WOR
*.lyr
